# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/

# Tool caches
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/

# Environment variables & secrets
.env
.env.*

# OS and Editor specific files
.DS_Store
Thumbs.db
.vscode/
.idea/
